<div class="grocery-i">
  <%= link_to program_path do %>
    <i class="fa-solid fa-backward"></i>
  <% end %>
</div>
  <h1 class="grocery-title">Groceries List </h1>
<ul class="ingredients-list" data-controller="ingredient">
<strong><p>All ingredients (<%= @ingredients.count %>): </p></strong>
  <% @ingredients.each do |ingredient| %>
    <li class="grocery-list">
      <label>
        <span><%= ingredient.capitalize %></span>
        <input type="checkbox" class="custom-checkbox" style="accent-color: orange !important" data-action="click->ingredient#toggleChecked" />
      </label>
    </li>
  <% end %>
</ul>
<div class="btn-back-and-groceries">

</div>
