
<div class="container">
  <%= link_to "Groceries list", "#", class: "btn-home" %>
  
  <h1>Your detailed program</h1>
  <div class="card">
    <%= "Day 1" %>
    <%= @program.goal %>
    <%= @program.diet %>

  </div>

</div>
