
  <%= link_to "Back", dashboard_path, class: "btn-home" %>
  <%= link_to "Groceries list", "#", class: "btn-home" %>

  <h1>Meal plan </h1>
  <div>
    <h3>Meals</h3>
    <% @meals.each do |meal| %>
      <%= meal.name %>
    <% end %>
  </div>
