<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://th.bing.com/th/id/OIG.gt9HrND0jXOm3BZsNjus?w=270&h=270&c=6&r=0&o=5&dpr=2&pid=ImgGn); width: 100%;">
  <div class="container">
    <h1><strong>DailyNutri</strong></h1>
    <p>DailyNutri is an application that helps you make your daily life easier.
       Answer the questions and generate your food program in no time !</p>
       <br>
    <%= link_to "Start", new_user_registration_path, class: "btn-home" %>
  </div>
</div>
