<div class="navbar-app">
  <div class="navbar-app-display">
    <%= link_to dashboard_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-house fa-xl" style="color: #ffffff;"></i>
    <% end %>
    <i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i>
  </div>
</div>
