<div class="navbar-app">
  <div class="navbar-app-display">
    <i class="fa-solid fa-house fa-xl" style="color: #ffffff;"></i>
    <i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i>
  </div>
</div>
