<% if params[:action] == "meals"%>
  <div class="navbar-app-meals">
<% else %>
  <div class="navbar-app">
<% end %>
  <div class="navbar-app-display">
    <%= link_to dashboard_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-house fa-xl" style="color: #ffffff;"></i>
    <% end %>
    <%=link_to grocery_program_path(@program) do %>
      <i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i>
    <% end %>
  </div>
</div>
