.big-form {
  display: flex;
}
.question {
  justify-content: space-between;
}

.custom-checkbox {
  width: 35%;
  margin: 8px;
}

.check_boxes {
  display: flex;
}

h2 {
  text-align: center;
  margin-top: 15px;
}
