.btn-home {
  font-weight: bold;
  color: $orange;
  border: 1px solid $orange;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: $light-gray;
  text-decoration: none;
  margin-bottom: 10px;
}

.btn-home-main {
  font-weight: bold;
  color: $light-gray;
  border: 1px solid $orange;
  padding: 58px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: $orange;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;

}
.groceries {
  a {
    text-decoration: none;
    color: white;
  }
}

.btn-home-main.groceries {
  align-items: end;
  width: 35%;
  padding: 5px;
  margin-top: 1em;
}

.btn-meals-sticky {
  font-weight: bold;
  background-color: $orange;
  color: $light-gray;
  border: 1px solid $orange;
  padding-bottom: 0;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.btn-sign-up {
  font-weight: bold;
  color: $light-gray;
  border: 1px solid $orange;
  padding: 58px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 10px;
  font-weight: lighter;
  background-color: $orange;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.home-main-button {
  padding: 0px;
}

.btn-home:hover {
  opacity: 1;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

legend {
  display: none;
}

.btn-submit {
  font-weight: bold;
  color: $light-gray;
  border: 1px solid $light-gray;
  padding: 8px 24px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: $orange;
  text-decoration: none;
  border-radius: 8px;
}

.btn-program {
  font-weight: bold!important;
  color: white;
  border: 1px solid $orange;
  padding: 8px 22px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  background-color: $orange;
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 1px;

  input {
    display: none;
  }

  &:has(input:checked) {
    opacity: 1;
  }

  &:has(input:selected) {
    opacity: 1;
  }
}

// .btn-program:active,
// .btn-program:focus {
//   opacity: 1;
// }

.btn-back {
  display: inline;
  justify-content: start;
  align-items: start;
  padding: 0;
  margin-top: 10%;
  display: flex;
  align-items: baseline;

  a {
    text-decoration: none;
    color: $orange;
  }

  h3 {
    margin-left: 58px;
  }
}

.btn-groceries {
  
  a {
    text-decoration: none;
    color: $orange;
  }
}
