
.calendar_bubble {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.bubble_container {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 5px;
  padding: 5px;
  width: 40px;
  border-radius: 50%;
  color: $orange;
  border: solid $orange 0.5px;

  &.fill {
    background-color: $orange;
    color: white;
  }
}

.bubble_list{
  display: flex;
  justify-content: center;
  border-top: solid black 0.5px;
  border-bottom: solid black 0.5px;
  margin-top: 6%;
}
