.container {
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-trip {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(255,249,236, 1);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.card-trip.selected {
  border: 2px solid #ff9500;
}

.card-info {
  padding: 10px;
}

.meal-name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.additional-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meal-calories {
  font-size: 16px;
  margin-bottom: 10px;
}

.hidden-checkbox {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.custom-checkbox::after {
  content: "\2713";
  font-size: 16px;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden-checkbox:checked + .custom-checkbox::after {
  color: rgb(168, 57, 57);
}

.white-link{
  text-decoration: none;
  color: white;
}
