// Program cards

.program-card-container {
  margin: 20px 10px;

}

.program-card {
  overflow: hidden;
  height: 500px;
  background: $white;
  box-shadow: $box-shadow;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 2%;
  margin-top: 50px;
  text-decoration: none;
}
.program-card img {
  height: 395px;
  width: 100%;
  object-fit: cover;

}

.program-card-info {
  padding: 16px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0;

  i {
    font-size: 18px;
    color: $orange;
  }
  .btn-home-main {
    margin-top: 1em;
  }
}
.program-card-info p {
  margin: 10px;
  margin-top: 30px;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.program-card-info i {
  font-size: 25px;
}

.program-card li {
  list-style-type: none;
}

.meal-card {
  display: flex;
  background-color: #FFF9EC;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 10px ;
  margin-bottom: 13px;
  padding-inline: 3px;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: calc(100% - 3rem);
  height: 150px;

}

.meal-card-info {
  flex-grow: 1;
  padding-block: 1rem;

  li {
    list-style-type: none;
    text-align: left;
    padding-left: 0.5em;
  }

}

.meal-card li {
  color: white;
  padding: 0;
  margin-left: 10px;
}

.meal-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {


    font-size: bold;
    float: left;
    margin-bottom: 0.5em;
    border-bottom: 4px $orange solid;

    li {
      list-style-type: none;
      text-align: left;
    }

  }
}

.img-container {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.delete-link {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
