#chat-container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  position: fixed;
  top: 50px;
  left: 20px;
  right: 20px;
  height: 70%;
  overflow: auto;
}

#message-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  margin-bottom: 15px;
}

abbr {
  display:none;
}

#chat-container h4 {
  color: $orange;
}

.empty-dashboard {
  padding: 20px;

}

.scrollable-response{
  overflow-y: auto;
}
