// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  position: relative;
}

html, body {
  min-height: 100vh;
}

.daily-container {
  min-height: calc(100vh - 60px);
  padding-bottom: 70px;
}
